<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gjzg"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="application.CApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="dN4Fk4zH7UukSYGgGuytm391lB5wqirE" />

        <activity android:name="main.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="workerkind.view.WorkerKindActivity" />
        <activity android:name="workerInfo.view.WorkerInfoActivity" />
        <activity android:name="leftright.view.LeftRightActivity" />
        <activity android:name="city.view.CityActivity" />
        <activity android:name="talk.view.TalkActivity" />
        <activity android:name="workermanage.view.WorkerManageActivity" />
        <activity android:name="employermanage.view.EmpMagActivity" />
        <activity
            android:name="personmanage.view.PersonInfoManageActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="jobinfo.view.JobInfoActivity" />
        <activity android:name="set.view.SetActivity" />
        <activity android:name="serviceclause.view.SevClsActivity" />
        <activity android:name="login.view.LoginActivity" />
        <activity
            android:name="pay.view.PayWayActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="publishjob.PublishJobActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity android:name="wallet.view.WalletActivity" />
        <activity android:name="accountdetail.view.AccountDetailActivity" />
        <activity android:name="invite.view.InviteActivity" />
        <activity
            android:name="withdraw.view.WithDrawActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name="workerscreen.view.WorkerScnActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="jobscreen.view.JobScnActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="passwordset.view.SetPwdActivity" />
        <activity
            android:name="password.view.PwdActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity
            android:name="phoneprove.view.PhoneProveActivity"
            android:windowSoftInputMode="stateAlwaysVisible|adjustPan" />
        <activity android:name="project.view.ProjectActivity" />
        <activity
            android:name="resign.view.ResignActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name="complain.view.ComplainActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity android:name="pic.view.PicActivity" />

        <service android:name="service.CodeTimerService" />
        <service android:name="service.GetLoginCodeTimerService" />

        <activity android:name="identity.view.IdActivity" />
        <activity
            android:name="phonebind.view.PhoneBindActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="draft.view.DraftActivity" />
        <activity android:name="refuseorder.view.RefuseOrderActivity" />
        <activity
            android:name="evaluate.view.EvaluateActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity android:name="persondetailinfo.view.PersonDetailActivity" />
        <activity android:name="redpacket.view.RedPacketActivity" />
        <activity android:name="voucher.view.VoucherActivity"></activity>
    </application>

</manifest>